header {
  width: 100%;                        /* Ocupa toda a largura */
  background-color:#4366be;          /* Azul escuro corporativo */
  color: black;                     /* Texto branco */
  padding: 15px 0;                    /* Espaçamento interno */
  font-size: 1.6em;                   /* Tamanho de texto maior */
  font-weight: bold;                  /* Texto em negrito */
}
h2{
  color:black;
}